/*fichier CSS NoMAD*/
#enteteNoMAD {
	width: 100%;
	height: 50px;
	background-color: #FF0000;
	font-family: "Dejavu sans mono";
	font-size: 45px;
}
nav {
	height: 100%;
	width: 200px;
	position : fixed;
}
body {
	background-color: #282a35;
	color: white;
}
#page {
	padding-left: 200px;
}