/*fichier CSS NoMAD*/
#enteteNoMAD {
	width: 100%;
	height: 50px;
	background-color: #FF0000;
	font-family: "Dejavu sans mono";
	font-size: 45px;
}
nav {
	height: 100%;
	width: 200px;
	position : fixed;
}
.divNav {
	heigth: 30px;
	text-align: center;
	font-family: "Dejavu sans mono";
}
#navTitre {
	heigth: 40px;
	font-family: "Dejavu sans mono";
	font-size: 35px;
}
body {
	background-color: #282a35;
	color: white;
}
#page {
	padding-left: 200px;
}
